<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" matSort>

      <ng-container *ngFor="let l of taskService.aliases" matColumnDef={{l.eng}}>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ l.rus }} </th>
        <td mat-cell *matCellDef="let row">
          <span> {{row[l.eng]}} </span>
          <div *ngIf="l.eng === 'editing'">
            <app-buttons [task]="row['name']" (emitEditing)="openDialog($event)"></app-buttons>
          </div>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="taskService.columnsToDisplay()"></tr>
    <tr mat-row *matRowDef="let row; columns: taskService.columnsToDisplay();">
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
