<button mat-icon-button (click)="begin()" aria-label="Время начала">
  <mat-icon>alarm_on</mat-icon>
</button>

<button mat-icon-button (click)="end()" aria-label="Время завершения">
  <mat-icon>alarm_off</mat-icon>
</button>

<button mat-icon-button (click)="editing()" aria-label="Изменение задачи">
  <mat-icon>edit</mat-icon>
</button>

<button mat-icon-button (click)="remove()" aria-label="Удаление задачи">
  <mat-icon>remove_circle_outline</mat-icon>
</button>
