<div>
<form>
  <mat-form-field class="">
    <input matInput type="text" placeholder="Название" [(ngModel)]="task.name"  [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <mat-form-field class="">
    <textarea matInput placeholder="Описание" [(ngModel)]="task.description"  [ngModelOptions]="{standalone: true}"></textarea>
  </mat-form-field>

  <mat-form-field class="">
    <textarea matInput placeholder="Документы" [(ngModel)]="task.documents"  [ngModelOptions]="{standalone: true}"></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Дедлайн"
           [(ngModel)]="task.dedline" required  [ngModelOptions]="{standalone: true}">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Критичность</mat-label>
    <mat-select [(value)]="taskService.currentCriticality">
      <mat-option *ngFor="let item of taskService.criticality" [value]="item">{{ item }}</mat-option>
    </mat-select>
  </mat-form-field>

  <p>You selected: {{taskService.currentCriticality}}</p>

<!--  <label id="">Теги</label>-->
<!--  <mat-radio-group-->
<!--    aria-labelledby=""-->
<!--    class=""-->
<!--    [(ngModel)]="currentTag">-->
<!--    <mat-radio-button class="" *ngFor="let tag of taskData.tags" [value]="tag">-->
<!--      {{tag}}-->
<!--    </mat-radio-button>-->
<!--  </mat-radio-group>-->
<!--  <div>Текущий тег: {{currentTag}}</div>-->

<!--  <mat-form-field class="">-->
<!--    <textarea matInput placeholder="Записи"></textarea>-->
<!--  </mat-form-field>-->

<!--  <mat-form-field class="">-->
<!--    <textarea matInput placeholder="Оценка времени"></textarea>-->
<!--  </mat-form-field>-->

<!--  <mat-form-field>-->
<!--    <mat-label>Расписание опововещений</mat-label>-->
<!--    <mat-select>-->
<!--      <mat-option *ngFor="let item of taskData.criticality" [value]="item">-->
<!--        {{item}}-->
<!--      </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->

<!--<button mat-button (click)="onSave()">Сохранить</button>-->

</form>

<app-upload-file></app-upload-file>

</div>
