<canvas height="490" id="canvas" style="border: 1px solid black;"
        width="490">
</canvas>
<div>
  <button id="clear">clear</button>
  <button id='save'>save</button>
  <button id='load'>restore</button>
  <a id="download">img</a>
</div>
